.DS_Store
node_modules
/test
.cache

package-lock.json
# local env files
.env.local
.env.*.local
*.log

# Log files
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# noCatch
.cache
.cache/*
.parcel-cache
.parcel-cache/*

__pycache__
__pycache__/*
*.pyc

.VSCodeCounter

# Editor directories and files
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?